@(products: List[Product])

@main("Products catalogue"){

    <h2>All products</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @for(product <- products) {
                <tr>
                    <td><a href="@routes.Products.details(product.ean)">
                    @product.ean
                    </a>
                    </td>
                    <td><a href="@routes.Products.details(product.ean)">
                        @product.name
                    </a></td>
                    <td><a href="@routes.Products.details(product.ean)">@product.name</a></td>

                </tr>
            }
        </tbody>
    </table>
    <a href="@routes.Products.newProduct()" class="btn">
        <i class="icon-plus"></i> New product</a>
}
